<html>
    <head>
        <title>kai's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">kai's blog</a></h1>
        </div>

        <div>
            <p>published: 17.02.2021, 12:14</p>
            <h2><a href="">my first post</a></h2>
            <p>Hello, nice to meet you ! こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>published: 17.02.2021, 13:14</p>
            <h2><a href="">second post</a></h2>
            <p> 久しぶり </p>
        </div>
    </body>
</html>